{% extends "bg.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    
<link rel="stylesheet" href="{% static 'register.css' %}">

<img src="{% static 'line 4.png' %}" class="line">
<img src="{% static 'line 2.png' %}" class="line1">
<img src="{% static 'line 4.png' %}" class="line4">
<img src="{% static 'line 2.png' %}" class="line3">


<form action="/register" method='POST'>
    {% csrf_token %}
    <div class="formcard">
        <div class="cardd">
          <div class="card-content">
            <div class="content">
              <form method="POST" action="/signup">
                {% csrf_token %}
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Name" name="name">
                  </div>
                </div>

                <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Username" name="username">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                  <p class="help is-danger">{{usr}}</p>
                </div>

                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email input" name="email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="control">
                  <label class="radio">
                    <input type="radio" name="sex">
                    Male
                  </label>
                  <label class="radio">
                    <input type="radio" name="sex">
                    Female
                  </label>
                  <label class="radio">
                    <input type="radio" name="sex">
                    Other
                  </label>
                </div>

                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input class="input" type="password" name="pass" placeholder="Password">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Confirm Password</label>
                  <div class="control">
                    <input class="input" type="password" name="pass" placeholder="Confirm Password">
                  </div>
                  <p class="help is-danger">{{pas}}</p>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox">
                      I agree to the <a href="#">terms and conditions</a>
                    </label>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                  <div class="control">
                    <a href="/" class="button is-link is-light">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</form> 
{% endblock %}